otp_path: "/home/regikul/.asdf/installs/erlang/27.2/"
deps_dirs:
  - "lib/*"
lenses:
  enabled:
    - suggest-spec
diagnostics:
  enabled:
    - crossref
    - dialyzer
  disabled:
    - code_reload
apps_dirs:
  - "apps/*"
  - "lib/*"
deps_dirs:
  - "_build/default/lib/*"
include_dirs:
  - "apps"
  - "apps/*/include"
  - "lib"
  - "lib/*/include"
  - "_build/default/lib/"
  - "_build/default/lib/*/include"
