{erl_opts, [debug_info]}.
{deps, [
  {ranch, "2.1.0"}
]}.

{relx, [
  {release, {back, "0.1.0"}, [compiler, server], [{vm_args, "config/back.args"}]},
  {release, {front, "0.1.0"}, [client], [{vm_args, "config/front.args"}]},

  {dev_mode, false},
  {include_erts, false},
  {include_src, false},

  {sys_config, "config/sys.config"},


  {extended_start_script, true}]
}.
